* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000 !important;
}

main {
  background-color: #0f1117;
  max-width: 80rem;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

.hero-section {
  background-image: url(/assets/hero.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 2rem 4rem 2rem;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.logoContainer {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  gap: 10px;
}

.logo {
  object-fit: contain;
  width: 101px;
  height: 96px;
}

.heading {
  max-width: 32rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 120%;
}

.imgContainer {
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 50vh;
}

.image {
  object-fit: contain;
}

.red-gradient {
  background: linear-gradient(92deg, #ff5956 2.87%, #ee1e38 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.anime-section {
  padding: 4rem 2rem 4rem 2rem;
}

.heading-2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.card-img {
  height: 300px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 7px 5px 10px whitesmoke;
}

